<div class = "userIndex">
  <% @users.each do |user| %>
    <a href="users/<%=user.id%>"><div class='userWraper'>
      <img src="#{user.Photo}" alt="User" />
      <div class='userInner'>
        <h1 class="name"><%= link_to user.Name, user_path(user)%></h1>
        <p class='num'>Number of posts: <%= user.PostsCounter || 0%></p>
      </div>
    </div></a>
  <% end %>
</div>